body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header-content {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
}

.nav-items {
  display: flex;
  list-style: none;
}

.navbar li a {
  margin: 20px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-weight: bold;

}

.navbar li a:hover {
  color: #18869c;
}
/* DROPDOWN MENU */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  padding: 8px 10px; 
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*============ Header ===============*/

/*============ Section1 ===============*/

#banner .img {
  height: calc(100vh - 70px);
  background-image: url("../../img/bannerr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#banner .banner-text {
  position: absolute;
  bottom: 40%;
  right: 35%;
  text-align: center;
}
#banner .banner-text h2 {
  width: 350px;
  color: #fff;
  border: 1px solid #154853;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
#banner .banner-text button {
  margin-top: 5px;
  padding: 15px;
  border: none;
  background-color: #3498db;
  color: #dfdfdf;
  transition: color 0.8s;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
#banner .banner-text button:hover {
  background-color: #fff;
  color: #18869c;
  transition: 0.8s;
}

/* ==================About Us================ */

#about-us {
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#about-us img {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 30px;
}

#about-us h2 {
  font-size: 26px;
  margin-top: 40px;
  color: #fff;
}
#about-us p {
  width: 400px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
}

/* =========Services================== */

#section3 {
  background: #3498db;
  height: 600px;
}
#section3 img {
  padding: 15px 5px 0px;
  width: 350px;
}
#section3 h1 {
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
#section3 .slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#section3 .slider article {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  text-align: center;
  width: 30%;
}
#section3 .slider article p {
  font-size: 12px;
  padding: 0px 10px;
}
#section3 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #515151;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 50px;
}

#section3 a:hover{
  background-color: #072e4a;
  transition: 0.5s;
}
/* ===================Contact Us================== */

#contact-us {
  padding: 10px;
  font-family: sans-serif; 
  height: 500px;
  display: flex;
}
#contact-us .form {
  margin: 20px 100px;
}
#contact-us .form fieldset {
  border: none;
}
#contact-us .form fieldset form {
  display: flex;
  flex-direction: column;
}
#contact-us .form fieldset form legend {
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}
#contact-us .form fieldset form .input-box {
  padding-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#contact-us .form fieldset form label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: left;
}
/* input, 
textarea{
  background-color: #2a2929;
} */
#contact-us .form fieldset form input[type="text"],
#contact-us .form fieldset form input[type="email"]{
  padding: 15px;
}
#contact-us .form fieldset form input[type="text"],
#contact-us .form fieldset form input[type="email"],
#contact-us .form fieldset form textarea{
  border-radius: 5px;
  border-color:  #000000;
  font-size: 100%;
}
#contact-us .form fieldset form textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  resize: none;
  padding: 10px;
}
#contact-us .form fieldset form input[type="submit"] {
  padding: 10px 0px;
  border-radius: 13px;
  border-color: #3498db;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#contact-us .form fieldset form input:focus,
#contact-us .form fieldset form textarea:focus{
  outline: none;
}
#contact-us .informations {
  margin-left: 50px;
}
#contact-us .informations h4 {
  text-align: center;
}
#contact-us .informations table{
  border-collapse: separate;
  padding-top: 30px;
}

#contact-us .informations table th {
  color: #fff;
  background: #3498db;}
#contact-us .informations table th,
#contact-us .informations table td {
  border-radius: 5px;
}

#contact-us .informations table td:hover {
  background-color: #3498db;
  color: #fff;
}
#contact-us  table th,
#contact-us  table td {
  padding: 10px 5px;
   border: 1px solid #3498db;
}


#contact-us .informations a{
  display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* =============Projects & Messages============ */

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 160px;
}

.styled-table th,
.styled-table td {
  padding: 8px 12px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
}

  /* ================Footer============= */
footer {
  background: #3498db;
  padding: 20px;
  text-align: center;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer .container .logo a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding-right: 50px;
}
/*============ScrollBar====================== */
html::-webkit-scrollbar{
  width: .7vw;
}
html::-webkit-scrollbar-track {
  background-color: #fff;
}
html::-webkit-scrollbar-thumb{
  background-color: #3498db;
  border-radius: 50px;
} 
html::-webkit-scrollbar-thumb:hover {
  background-color: #3498db;
}

